# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# Data
data/
*.json
*.parquet
logs/

# IDE
.vscode/
.idea/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Jupyter
.ipynb_checkpoints/

# Docker
postgres_data/

# Pytest
.pytest_cache/
.coverage
htmlcov/
